body{
  background-color: blue;
}



.men{
  width: 50px;
  border-radius: 50%;
}
.mycard{
 display: flex;
 /* margin-left: 20px; */
}

.card{
  width: 150px;
  margin-left: 1rem;
}
.h2{
  text-align: center;
  color: blue;
}
.span{
  color: blue;
}
.p{
  text-align: center;
  color: blue;
}
.pl{
  color: blue;
  margin-left: 70px;
}